body.meduze{
  display: block;
  background-image: url("noire_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: dimgray;
}
p.add{
  opacity: 0.7;
}
h.s{color:white;}
h.t{
    position:fixed;
  }
h.cd{color:red;}

div.haut{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color:white;
  height: 4%;
  background-color: midnightblue;
  border-bottom: 2px solid whitesmoke;
  box-shadow: 2px 2px 6px whitesmoke;
  }
div.vide{
  background-color: blue;
  height: 0.2cm;
}
div.vide2{
  background-color: none;
  height: 0.7cm;
}
fieldset.list{
  background-image:url("meduze_bg.jpg")
}
  
legend.list{
  
  height: 1cm;
  color: greenyellow;
  border: 3px solid seagreen;
  background-image: url("noire2.jpg")
}
div.enter{
  border: 2px solid deepskyblue;
  box-shadow: 2px -2px 6px skyblue;
  background-color: darkblue;
  position: absolute;
  right: 0.4cm;
  left: 0.5cm;
  color: white;
}
div.divs1{
  display: none;
}
div.nv {
  background-color: green;
  color: white;
  border: 2px solid white;
  padding: 20px;
}

div.host {
  background-color: blue;
  color: white;
  border: 2px solid white;
  padding: 20px;
}
div.vpn {
  background-color: red;
  color: white;
  border: 2px solid powderblue;
  margin: 20px;
  padding: 20px;
}
div.des {
  background-color: yellow;
  color: darkblue;
  border: 2px solid white;
  margin: 20px;
  padding: 20px;
}

div.pg {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 20px;
}
div.dec {
  background-color: black;
  color: green;
  border: 2px solid green;
  margin: 20px;
  padding: 20px;
}

div.ch {
  background-color: black;
  color: green;
  border: 2px solid green;
  padding: 20px;
}
div.es {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  margin: 20px;
  padding: 20px;
}
div.game {
  background-color: blue;
  color: white;
  border: 2px solid brown;
  padding: 20px;
}
div.app {
  background-color: powderblue;
  color: brown;
  border: 2px solid red;
  margin: 20px;
  padding: 20px;
}


div.bar2{
  position: fixed;
  width: 100%;
  bottom: 0cm;
  left: 0;
  right: 0;
  background-color: black;
  height: 7%;
}
img.bar2p{
  width: 100%;
}





div.meduz{
  display: block;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 2.8%;
  bottom: 14%;
  left: 5%;
  right: 5%;
  color: limegreen;
  background-color: midnightblue;
  border: 1px solid skyblue;
  box-shadow: -1px -8px 30px black;
  overflow: auto
}
p.pmdz{
  font: 2em Arial,bold;
  color: ghostwhite;
  margin-top: 1%;
  text-align: center;
  text-shadow: 2px 2px 3px blue;
}
p.hterm{
  position: relative;
  border: 1px solid greenyellow;
  text-shadow: 2px 1px 4px white;
  margin-top: 0;
}
legend.mdz{
  color: whitesmoke;
  text-shadow: 4px 1px 7px skyblue;
  border: 2px dotted skyblue;
  box-shadow: 2px 2px 10px deepskyblue;
}
p.choix{
  text-align: right;
  text-shadow: 1px 1px 5px ghostwhite;
  border: 0.5px solid grey;
  border-bottom-color: black;
  margin-top: 0;
  padding: 2px;
}
input.ss{
  font-size: 14pt;
  border :0px solid black;
  text-shadow: 1px 2px 6px whitesmoke;
  background-color: transparent;
  width: 100%;
  color: skyblue;
}
p.ss{
  align-items: center;
  color: green;
  text-align: left;
  border: 0.4px solid dimgray;
  border-top-color: black;
  margin-bottom: 0;
}
textarea.ss{
  top: 0;
  color: aliceblue;
  background-color: black;
  text-align: left;
  border: 0.3px none black;
  text-shadow: 1px 2px 7px whitesmoke;
}
div.mfin{
  position: fixed;
  color: greenyellow;
  font-size: 13pt;
  text-shadow: 2px 1px 3px darkblue;
  background-color: dodgerblue;
  border: 2px solid lightskyblue;
  border-top: 0.7px double skyblue;
  border-bottom: 2px solid aliceblue;
  bottom: 14.3%;
  left: 5%;
  right: 5%;
}
div.hmdz{
  height: 6.5%;
  align-items: center;
  text-align: center;
  position:fixed;
  top: 3.2%;
  left: 6%;
  right: 6%;
  background-color: dodgerblue;
}
div.design{
  font-size: 10pt;
  position: fixed;
  right: 7%;left: 7%;
  line-height: 200%;
  background-color: transparent;
  bottom: 1%;
  text-align: center;
}
p.bull1{
  background-image: linear-gradient(to bottom, skyblue, darkblue);
  border: 2px double skyblue;
  border-radius: 10px 10px 10px 10px;
}
p.bull2{
  background-image: linear-gradient(to bottom, darkblue,blue, skyblue);
  margin-right: 15%;
  margin-left: 15%;
  border: 2px solid lightblue;
  border-radius: 10px 10px 10px 10px;
  border-top: 5px deepskyblue;
}
fieldset.mdz{
  text-align: right;
  position: relative;
  top: 8%;
  border: 2px double skyblue;
  box-shadow: 0px -1px 5px snow;
}
div.photo{
  text-align: center;
  display: block;
  border: 3px solid aliceblue;
  align-items: center;
  background-color: dodgerblue;
  box-shadow: 2px 2px 20px black;
}
div.error{
  display: none;
  background-color: black; 
  border: 3px double darkred;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
  box-shadow: 0 0 15px red;
}
p.error{
  width: 280px;
  text-align: center;
  align-items: center;
  color: lightblue;
  padding: 0px;
  line-height: 18px;
  margin-top: 2px;
  font-size: 16pt;
  text-shadow: 0 0 3px lightskyblue;
}
p.error2{
  color: black;
  margin-top: 16px;
  font-size: 18pt;
  padding: 6%;
  text-shadow: 0 0 6px orangered;
}
div.pbut{
  display: flex;
}
div.p2{
  height: 37%;
  position: relative;
  text-align: center;
  display: flex;
  border: 2px solid ghostwhite;
  top: 8%;
}
div.detail{
  padding: 0%;
  top: 55%;
}
div.contact{
  line-height: 230%;
}
div.detail, div.contact{
  position: absolute;
  bottom: 8%;
  left: 5%;
  right: 5%;
  display: none;
  text-align: center;
}
p.det{
  display: block;
  position: relative;
  text-align: center;
  margin-left: -15px;
  margin-right: -17px;
  background-color: darkslategray;
  box-shadow: 3px -1px 38px black;
  text-shadow: 2px 0 3px blue;
}
p.cont{
  display: block;
  position: relative;
  text-align: center;
  margin-left: -30px;
  margin-right: -17px;
  margin-top: 3%;
  background-color: darkslategray;
  box-shadow: 3px -1px 38px black;
  text-shadow: 2px 0 3px blue;
  padding: 12px;
}
h.fb{
  color: white;
  background-image: linear-gradient(to bottom right, white, blue);
  border: 1px solid whitesmoke ;
  border-radius: 10px;
  
}
h.wht{
  color: lawngreen;
  background-image: linear-gradient(to bottom left, black, lawngreen);
  border: 1px solid whitesmoke ;
  border-radius: 10px;
  
}
  
h.num{
  color: white;
  background-image: linear-gradient( black, darkblue);
  border: 2px solid whitesmoke ;
  border-radius: 8px;
}
h.git{
  color: black;
  background-color: whitesmoke;
  border: 1px solid blue ;
  border-radius: 9px;
  text-shadow: none;
}
h.fb, h.git, h.num, h.wht{
  box-shadow: 1px 1px 12px darkblue;
  padding: 1%;
  font-size: 13pt;
  
}
div.terminal{
  display: block;
  position: relative;
  background-color: black;
  flex: 1;
  border: 1px solid black;
  
}
div.saisie{
  display: block;
  flex: 2;
  background-color: black;
}
button.bt{
  flex: 1;
  height: 30px;
  color: greenyellow;
  background-color: black;
  text-shadow: 1px 1px 10px whitesmoke;
  font-size: 13pt;
  border: 3px solid ghostwhite;
}
img.pic0{
  height: 200px;
  width: 200px;
  border: 1px dashed darkblue;
  box-shadow: 2px 3px 20px whitesmoke;
  align-items: center;
}
img.me{display: none;
  
}
h.retour{
  display: none;
}






div.formvpn {
  display: none;
  position: fixed;
  font-size: 13pt;
  background-color: black;
  width: 100%;
  left: 0.0%;
  right: 0%;
  bottom: 0;
  top: 0.2%;
  overflow: auto;
  border: 2px solid white;
}
div.top{
  font-size: 14pt;
  color: lightblue;
  text-align: center;
  position: fixed;
  display: flex;
  top: -0.4%;
  right: 0.5%;
  left: 0;
  height: 4.5%;
  box-shadow: 0 0 10px white;
}
div.bas{
  background-color: midnightblue;
  color: lightblue;
  text-align: center;
  position: fixed;
  height: 4.5%;
  bottom: 0%;
  right: 0.5%;
  left: 0;
  border: 2px double white;
  box-shadow: 0 0 7px lightgray;
}
hr{
  color: darkred;
  border: 2px double black;
  box-shadow: 0 0 4px skyblue
}
div.menuh{
  flex: 1
}
div.prodh{
  flex: 3
}
div.actuh{
  flex: 1
}
div.vp1{
  display: flex;
  margin-left: -15px
}
div.menu{
  color: lightskyblue;
  text-shadow: 0 0 4px black;
  display: none;
  position: fixed;
  top: 5.7%;
  width: 50%;
  left: 0;
  border: 2px lightcyan outset;
  background-image: linear-gradient(to top ,black, steelblue);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 35px;
  box-shadow: 1px 2px 5px lightskyblue;;
}
div.prod{
  text-align: center;
  flex: 4;
  border: 1px double darkblue;
  background-color: #3456;
  margin-left: 2%
}
div.disp{
  color: white;
  background-color: #6291;
  border: 2.5px solid slategray;
}
p.dsc{
  color: skyblue;
  background-image: linear-gradient(#3291,black)
}
p.rt{
  margin-top: 1%;
}
div.actu{
  text-align: right;
  flex: 1;
  border: 0.4px dotted gray;
}
p.terminal{
  margin-top: 4px;
  align-items: center;
  border: 2px double white;
  height: 95%;
}
div.videvp{
  height: 3.5%
}